<section>
  <div class="container">
    <h2>Users</h2>
    <app-users-table [limit]="limit" [showActive]="showOnlyActivatedItems"></app-users-table>
  </div>
</section>
<section>
  <div class="container">
    <h2>Posts</h2>

    <div class="posts">
      <app-posts [limit]="limit" [showActive]="showOnlyActivatedItems"></app-posts>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Photos</h2>
    <app-gallery [limit]="limit" [showActive]="showOnlyActivatedItems"></app-gallery>
  </div>
</section>
